body {
  background: url("flor10.jpg");
  margin: 0px;
  padding: 0;
  height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

img{
  height: 150px;
  width: 150px;
  margin: 0px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: #e9dc2000; 

  animation: pulsate 2s infinite;
}

.flower {
  height: 230px;
  width: 200px;
  margin: 0px auto;
  justify-self: unset;
  align-items: center;

  background-color: #e9dc2000; 

  animation: pulsate 2s infinite;
}

.text-above {
  position: absolute;
    text-wrap: balance;
    width: 300px;
    right: 0px;
    left: -50px;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    color: #fff; 
    font-size: 25px; 
}

.text-below {
    position: absolute;
    text-wrap: balance;
    height: 140px;
    width: 200px;
    right: 3px;
    
    text-align: center;
    text-shadow: 1px 1px 3px black;
    color: #fff; 
    font-size: 25px; 
}

.text-above {
    top: -65%; 
}



.text-below {
    bottom: -40%; 
}
@keyframes pulsate {
  0% {
      transform: scale(1.5);
  }
  50% {
      transform: scale(1.6);
  }
  100% {
      transform: scale(1.5);
  }
}


  img,
  svg {
    vertical-align:top !important;
  }

  button{
    border-radius: 100%;
    border: 2px solid #ffbb00 !important;
    background: black!important;
    color: #ffbb00!important;
}
button:focus:not(:focus-visible) {
    outline: 0!important;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #ffbb00!important;
    background-color: black !important;
    border-color: #ffbb00!important;
    box-shadow: 0 0 0 0.25rem #ffbb00 !important;
}
.btn-primary:hover {
    color: #ffbb00 !important; 
    background-color: black !important;
    border-color: #ffbb00 !important;
}
  
  